body{
color:purple;
background:black;
 margin: 0px; 
 font-family: "Pinyon Script", cursive;
}

header {
border-bottom: solid 2px #15a5e3;
 padding: 20px;
 font-size: 50px;
color: #8ACE00;
 
}
section {
background: #0628e9;
 padding-bottom: 80px;
 padding-top: 80px;
 display: flex;
 justify-content: center;
}
.texto {
margin-right: 5x; 
}
h1 {
font-size: 40px;
}

p {

font-size:20px;
}


